{% extends "layout.html" %} 
{% block container %}

<div class="bg-neutral-primary-soft block max-w-sm border border-default rounded-base shadow-xs mx-auto">
    <div class="p-6 text-center">
        <span class="inline-flex items-center bg-brand-softer border border-brand-subtle text-fg-brand-strong text-xs font-medium px-1.5 py-0.5 rounded-sm">
            ID Estudiante: {{ id }}
        </span>
        
        <h5 class="mt-3 text-2xl font-semibold tracking-tight text-heading">
            {{ nombre }} {{ apellidos }}
        </h5>
        
        <div class="mt-4 mb-6 text-left space-y-2 text-sm text-gray-600">
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Teléfono:</strong> {{ telefono }}</p>
        </div>

        <a href="/" class="inline-flex items-center text-white bg-brand hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium rounded-base text-sm px-4 py-2.5">
            <svg class="w-4 h-4 me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/></svg>
            Volver a la lista
        </a>
    </div>
</div>

{% endblock %}